<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/checkout.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="checkout">
        <h1>Confirmá y pagá</h1>
        <section class="description card">
          <h2>Tu estacionamiento</h2>
          <section class="product-detail-left">
            <div
              class="product-img"
              style="background-image: url(/images/disp-1.jpg)"
            ></div>
          </section>
          <section class="product-detail-right">
            <div class="bottom-text">
              <h3>NOMBRE COCHERA</h3>
              <p>UBICACION</p>
              <h4>PROPIETARIO</h4>
            </div>
          </section>
        </section>
        <section class="your-reserve card">
          <h2>Tu reserva</h2>
          <section class="content">
            <p>Fecha y hora:</p>
            <p>Tarifa:</p>
          </section>
        </section>
        <div class="price-detail card">
          <h2>Detalle del precio</h2>
          <div class="content">
            <p>Estadia:</p>
            <p>Comision por servicio:</p>
            <p>Total final:</p>
          </div>
        </div>
        <div class="reserve-button">
          <input type="submit" value="RESERVAR" class="button" />
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
