<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header>
        <div class="contenedor-logoyburger">
            <img class="logo" src="../public/images/logo.png" alt="" >
             <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <h2>Iniciar sesión</h2>
        <div>
            <div class="bottom-main">
                <a href=""><i class="fas fa-envelope"></i></i>Email</a>
            </div>
            <div class="bottom-main">
                <a href=""><i class="fas fa-lock"></i></i>Constraseña</a>
            </div>
        </div>
        <div class="margin-top">
            <div class="bottom-sec">
                <a href="">INICIAR SESIÓN</a>
            </div>
            <div class="bottom-sec">
                <a href="">REGISTRARSE</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="contenedor-logoyredes">
        
            <img class="logo" src="../public/images/logo.png" alt="" >
        
        <div class="redes">
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook"></i></a>
        </div>
        </div>
        <ul>
            <li><a href=""></a>Nosotros</li>
            <li><a href=""></a>Contacto</li>
            <li><a href=""></a>Nosotros</li>
        </ul>
    </footer>
</body>
</html>