main {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 20px;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 25px;
}

.product-detail-left {
  margin-right: 25px;
}

.product-img {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 3px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h2 {
  width: 100%;
  margin-bottom: 15px;
}

.card {
  width: 100%;
  margin: 10px auto;
  padding: 20px 0;
  background-color: lightgrey;
}

.content {
  width: 100%;
  text-align: left;
  padding-left: 15px;
}

.button {
  width: 232px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
  margin-bottom: 10px;
}

.reserve-button {
  margin-top: 20px;
}

/* Tablet + */
@media (min-width: 480px) {
  .checkout {
    width: 90%;
    margin: 0 auto;
  }

  .card {
    border-radius: 5px;
  }
}

/* Laptop + */
@media (min-width: 768px) {
  .description {
    background-color: #f0f0f0;
    justify-content: flex-start;
  }

  .product-detail-left {
    padding-left: 8%;
  }

  .product-detail-right {
    margin-left: 100px;
    text-align: left;
  }

  .product-img {
    width: 600px;
    height: 250px;
  }
}
