main {
  height: calc(100vh - 138px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding-top: 10vh;
}

h1 {
  margin-bottom: 20px;
}

form {
  width: 90%;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-bottom: 3px;
}

input {
  height: 40px;
  border-radius: 6px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

input:focus {
  outline: none;
}

.button {
  margin-top: 20px;
  width: 232px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
  align-self: center;
}

/* Tablet + */
@media (min-width: 480px) {
}

/* Laptop + */
@media (min-width: 768px) {
  form {
    width: 80%;
  }
}
