main {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 5vh;
}

.product-img {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.product-detail-bottom {
  margin-top: 40px;
  margin-left: 20%;
}

.button {
  width: 232px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: grey;
  color: white;
}

.reserve-button {
  margin-top: 20px;
}

/* Tablet + */
@media (min-width: 480px) {
  .product-img {
    height: 350px;
    width: 90%;
    margin: 0 auto;
    border-radius: 3px;
  }
}

/* Laptop + */
@media (min-width: 768px) {
  main {
    padding-top: 0;
  }
  .product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
  }
  .product-detail-bottom {
    margin: 30px 15px 0;
    padding: 12px;
    border: 1px lightgrey solid;
    border-radius: 12px;
  }
  .product-detail-top {
    width: 700px;
  }
  .product-img {
    flex: 1 1 700px;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 3px;
  }
}
