<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %> 
    <title>Parkeando</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %> 
    <main>
      <div class="home-container">
        <div class="searchbar-card">
          <h1>PARKING ON DEMAND.</h1>
          <h2>El buscador No.1 de Argentina</h2>
          <div class="searchbar-text">
            <i class="fa-solid fa-circle-check"></i>
            <p>Seguro!</p>
          </div>
          <div class="searchbar-text">
            <i class="fa-solid fa-circle-check"></i>
            <p>Cerca!</p>
          </div>
          <div class="searchbar-text">
            <i class="fa-solid fa-circle-check"></i>
            <p>Más conveniente!</p>
          </div>
          <div class="searchbar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <label for="buscar"></label>
            <input
              type="text"
              name="buscar"
              placeholder="CP, Ciudad, Direccion"
            />
            <button type="submit">Buscar</button>
          </div>
        </div>
      </div>
    <div class="availables">
      <h2>Encontra tu mejor opcion de estacionamiento</h2>
      <div class="availables-container">
        <div class="item">
          <div class="a-img" style="background-image: url(/images/disp-1.jpg);"></div>
          <div class="description-box">
            <p class="name">Belgrano</p>
            <p class="location">Gral. Pirán 71</p>
        </div>
      </div>
      <div class="item">
          <div class="a-img" style="background-image: url(/images/disp-2.jpg);"></div>
        <div class="description-box">
          <p class="name">Olivos</p>
          <p class="location">Sarmiento 501</p>
        </div>
      </div>
      <div class="item">
          <div class="a-img" style="background-image: url(/images/disp-3.jpg);"></div>
        <div class="description-box">
          <p class="name">Ciudadela</p>
          <p class="location">E. Mitre 1280</p>
        </div>
      </div>
      <div class="item">
          <div class="a-img" style="background-image: url(/images/disp-4.jpg);"></div>
        <div class="description-box">
          <p class="name">Liniers</p>
          <p class="location">E. Costa 125</p>
        </div>
      </div>
      <div class="item">
          <div class="a-img" style="background-image: url(/images/disp-5.jpg);"></div>
        <div class="description-box">
          <p class="name">San Miguel</p>
          <p class="location">Lourdes 1125</p>
        </div>
      </div>
      <div class="item">
          <div class="a-img" style="background-image: url(/images/disp-6.jpg);"></div>
        <div class="description-box">
          <p class="name">Carlos Casares</p>
          <p class="location">M. de Oca 889</p>
        </div>
      </div>
      <div class="item">
          <div class="a-img" style="background-image: url(/images/disp-7.jpg);"></div>
        <div class="description-box">
          <p class="name">Ranelagh</p>
          <p class="location">C. 362 258</p>
        </div>
      </div>
      <div class="item">
          <div class="a-img" style="background-image: url(/images/disp-8.jpg);"></div>
        <div class="description-box">
          <p class="name">City Bell</p>
          <p class="location">C. 17 198</p>
        </div>
      </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %> 
  </body>
</html>
