<footer>
  <div class="footer-left">
    <img src="/images/logo.png" alt="logo-footer" height="10px" />
    <p class="copyright" style="color: lightgrey; font-size: 0.8em">
      Copyright © 2022
    </p>
  </div>
  <div class="footer-center">
    <ul>
      <li><a href=""></a>Nosotros</li>
      <li><a href=""></a>Contacto</li>
      <li><a href=""></a>Ayuda</li>
    </ul>
  </div>
  <div class="footer-right" style="color: lightgrey; font-size: 1.2em">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
  </div>
</footer>
