<header>
  <a href="/"><img src="/images/logo.png" alt="logo" height="20px" /></a>
  <div class="navbar">
    <ul>
      <a href="/register"><li>Crea tu cuenta</li></a>
      <a href="/login"><li>Ingresar</li></a>
      <a href="/products/create"><li>Publicar</li></a>
      <li>Favoritos</li>
    </ul>
  </div>
  <div class="burger-menu"><i class="fa-solid fa-bars"></i></div>
</header>
