<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main class="background">
      <div class="main-card">
        <h1>Iniciar sesión</h1>
        <form action="/login" method="POST">
          <div class="login-line-item">
            <div class="icon"><i class="fa-solid fa-envelope"></i></div>
            <label for="email"></label>
            <input
              class="input-text"
              type="email"
              name="email"
              placeholder="Email"
            />
          </div>
          <div class="login-line-item">
            <div class="icon"><i class="fa-solid fa-lock"></i></div>
            <label for="password"></label>
            <input
              class="input-text"
              type="password"
              name="password"
              placeholder="Contraseña"
            />
          </div>
          <div class="login-line-bottom">
            <div class="remember-recovery">
              <div class="remember">
                <input type="checkbox" name="remember" />
                <label for="remember">Recordar contraseña</label>
              </div>
              <p>
                <a href="">¿Olvidaste la contraseña? </a>
              </p>
            </div>
            <div class="buttons">
              <div class="button-card">
                <button type="submit" class="button">INICIAR SESIÓN</button>
              </div>
              <div class="button-card">
                <a href="/register"
                  ><button class="button" type="button">REGISTRARSE</button></a
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
