<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %> 
    <title>Login</title>
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %> 
    <main class="background">
      <div class="main-card">
        <h1>Crea tu cuenta</h1>
        <form action="/register" method="POST">
          <div class="register-line-item">
            <div class="icon"><i class="fa-solid fa-phone"></i></i></div>
            <label for="phone"></label>
            <input
              class="input-text"
              type="tel"
              name="phone"
              placeholder="Telefono"
            />
          </div>
            <div class="register-line-item">
              <div class="icon"><i class="fa-solid fa-user"></i></div>
              <label for="name"></label>
              <input
                class="input-text"
                type="text"
                name="name"
                placeholder="Nombre"
              />
            </div>
            <div class="register-line-item">
              <div class="icon"><i class="fa-solid fa-envelope"></i></div>
              <label for="email"></label>
              <input
                class="input-text"
                type="email"
                name="email"
                placeholder="Email"
              />
            </div>
            <div class="register-line-item">
            <div class="icon"><i class="fa-solid fa-lock"></i></div>
            <label for="password"></label>
            <input
              class="input-text"
              type="password"
              name="password"
              placeholder="Contraseña"
            />
          </div>
            <div class="buttons">
              <div class="button-card">
                <button type="submit" class="button">CONFIRMAR</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>